* {
    font-family: georgia;
}

#teamA {
    width: 50%;
    float: left;
}

#teamB {
    width: 50%;
    float: left;
}

textarea {
    resize: none;
}

#logout {
    
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#green {
    background-color: #70DB70;
}

#red {
    background-color: #FF6666;
}

#cd_timer {
    color: red;
    font-size: 150%;
    float: right;
    position: fixed;
    margin-left: 888px;
    border-style: solid;
    border-color: red;
    padding: 5px;
}

#apotel {
    font-size: 150%;
}

#login {
	margin: auto;
	margin-top:15%;
	border-style: none;
	width:270px;
        padding-left: 10px;
        padding-top: 10px;
        border-radius: 10px;
        background-color: #bfbfbf;
}


#body_exams {
	background-image:url(../images/bg2.png);
}

#body_results {
	background-image:url(../images/bg2.png);
}

#diss {
	margin: auto;
	margin-top:15%;
	border-style: solid;
	width:300px;
        padding-left: 10px;
        padding-top: 10px;
	border-color:#bfbfbf;
	background-color:#bfbfbf;
	border-radius: 5px;
}

#exams {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-radius: 10px;
}

#results {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-radius: 10px;
}

.subs {
    margin-left: 10%;
    margin-right: 10%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
}

#aem {
    margin-right: 10%;
}

#index {
        margin: auto;
	margin-top:12%;
	border-style: none;
	width:250px;
        padding-left: 23px;
        padding-right: 23px;
        border-radius: 10px;
        background-color: #bfbfbf;
}

#index a {
    text-decoration: none;
    color: black;
}

#index a:hover {
    text-decoration: none;
    color: white;
}

.back {
    color: black;
}

.back:hover {
    color: gray;
}

#details {
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bfbfbf;
    border-radius: 10px;
    padding: 2%;
    padding-bottom: 1%;
    margin-top: 12%;
}

#four {
    margin-left: 30%;
}