#teamA {
    width: 50%;
    float: left;
}

#teamB {
    width: 50%;
    float: left;
}

textarea {
    resize: none;
}

#logout {
    float: right;
}

table {
    border-collapse: collapse;
    text-align: center;
}

#green {
    background-color: #70DB70;
}

#red {
    background-color: #FF6666;
}

#cd_timer {
    color: red;
    font-size: 150%;
    float: right;
    position: fixed;
    right: 10px;
    border-style: dotted;
    border-color: red;
}

#apotel {
    font-size: 150%;
}
