#teamA {
    width: 50%;
    float: left;
}

#teamB {
    width: 50%;
    float: left;
}

textarea {
    resize: none;
}

#logout {
    float: right;
}

table {
    border-collapse: collapse;
    text-align: center;
}

#green {
    background-color: #70DB70;
}

#red {
    background-color: #FF6666;
}

#cd_timer {
    color: red;
    font-size: 150%;
    float: right;
    position: fixed;
    right: 15%;
    border-style: solid;
    border-color: red;
    padding: 5px;
}

#apotel {
    font-size: 150%;
}

#login {
	margin: auto;
	margin-top:15%;
	border-style: solid;
	width:270px;
        padding-left: 10px;
        padding-top: 10px;
}


#body_exams {
	background-image:url(../images/bg2.png);
}

#body_results {
	background-image:url(../images/bg2.png);
}

#diss {
	margin: auto;
	margin-top:15%;
	border-style: solid;
	width:270px;
        padding-left: 10px;
        padding-top: 10px;
	border-color:#bfbfbf;
	background-color:#bfbfbf;
	border-radius: 5px;
}

#exams {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-radius: 10px;
}

#results {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-radius: 10px;
}

.subs {
    margin-left: 10%;
}
